<h1>My Conversations</h1>

<ul>
  <% for conversation in @conversations do %>
    <li class="<%= conversation.read? ? 'read' : 'unread' %>"><%= link_to conversation.subject, conversation_path(conversation) %></li>
  <% end %>
</ul>

<%= link_to "Create a New Conversation", new_conversation_path %>