<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @topic.category.name, category_path(@topic.category.id) %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @topic.board.name, board_path(@topic.board.id) %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @topic.name, topic_path(@topic.id) %> <span class="divider">/</span>
  </li>
  <li class="active">Edit Post</li>
</ul>

<%= render 'form' %>