<ul class="breadcrumb">
  </li>
  <li class="active">Home</li>
</ul>

<% @categories.each do |category| %>
<h3><%= link_to category.name, category %></h3>
<p><%= category.description %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Forum</th>
      <th>Posts</th>
      <th>Something</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>icon</td>
      <td>Example 1</td>
      <td>123</td>
      <td>blah</td>
    </tr>
    <tr>
      <td>icon</td>
      <td>Example 2</td>
      <td>125123</td>
      <td>etc.</td>
    </tr>
    <tr>
      <td>icon</td>
      <td>Example 3</td>
      <td>749</td>
      <td>blah3</td>
    </tr>
  </tbody>
</table>
<% end %>